@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

$main-font-family: 'Nunito', sans-serif;
$brand-font-family: 'Courgette', sans-serif;

$main-font-color:#222f3e;
$sec-font-color: #fff;

$theme-color: #2e86de;
$sec-theme-color: #ff9f43;
$main-background-color: #fff;
$sec-background-color: #ecf0f1;
$prenium-seat: #FFC312;
$legroom-seat: #f39c12;
$front-seat: #10ac84;
$standard-seat: #78e08f;
$selected-seat: #2e86de;

$border-color: #576574;
$success-color: #2ecc71;
$error-color: #e74c3c;
