%seat {
    height: 1.4375rem;
    width: 1.1875rem;
    margin: .4375rem .3125rem;
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
    border: .07rem solid $border-color;
    transition: transform 100ms ease-in-out;

    span {display: none;}
}

.prenium {
    @extend %seat;
    background-color: $prenium-seat;
}

.legroom {
    @extend %seat;
    background-color: $legroom-seat;
}

.front {
    @extend %seat;
    background-color: $front-seat;
}

.standard {
    @extend %seat;
    background-color: $standard-seat;
}

.unavailable {
    @extend %seat;
    background-color: $main-background-color;
}

.selected {
    @extend %seat;
    background-color: $selected-seat;
}

.seat:not(.unavailable):hover {
    cursor: pointer;
    transform: scale(1.3);
}

%labels {
    display: inline-block;
    height: 100%;
    width: 1.05rem;
    margin-right: .7rem;
}

.label_p {
    @extend %labels;
    background-color: $prenium-seat;
}
        
.label_e {
    @extend %labels;
    background-color: $legroom-seat;
}
        
.label_f {
    @extend %labels;
    background-color: $front-seat;
}

.label_s {
    @extend %labels;
    background-color: $standard-seat;
}

.col-lab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.1875rem;
    width: 1.1875rem;
    margin: .4375rem .3125rem;  
    border: .09rem solid $border-color;
    border-radius: 100%;
    background-color: $sec-background-color;
    font-size: .85rem;
    font-weight: 500;
    color: $main-font-color;
    cursor: default;
}